@import "tailwindcss";

@theme inline {
  --color-brand-logo: #2C2E6A;
  --color-brand-primary: #3E4095;
  --color-brand-secondary: #4B4DED;
  
  --font-sans: var(--font-schibsted-grotesk);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.bg-brand-logo { background-color: var(--color-brand-logo); }
.text-brand-primary { color: var(--color-brand-primary); }
.bg-brand-primary { background-color: var(--color-brand-primary); }
